name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

env:
  DEPLOY_PATH: tmp

jobs:
  deploy-preview:
    # The preview action does not allow previews from forked PRs: https://github.com/rossjrw/pr-preview-action/pull/6 
    if: github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create a folder with all compiled apps and pkgs
        if: github.event.action != 'closed'
        run: |
          mkdir -p ${{ env.DEPLOY_PATH }}
          echo "<!doctype html><html><head><meta charset='utf-8'><title>PR Preview</title></head><body><h1>Deployment Previews</h1>" > ${{ env.DEPLOY_PATH }}/index.html

      - name: Install and Build
        if: github.event.action != 'closed'
        run: ./.github/scripts/build-app.sh
        env:
          TARGET_FOLDER: LimesUI

      - name: Deploy preview
        if: github.event.action != 'closed'
        run: |
          echo "<ul><li><a href='./LimesUI/index.html?location=project' target="_blank" rel="noopener noreferrer"> LimesUI Project </a></li>" >> ${{ env.DEPLOY_PATH }}/index.html
          echo "<li><a href='./LimesUI/index.html?location=domain' target="_blank" rel="noopener noreferrer"> LimesUI Domain </a></li>" >> ${{ env.DEPLOY_PATH }}/index.html
          echo "<li><a href='./LimesUI/index.html?location=cluster' target="_blank" rel="noopener noreferrer"> LimesUI Cluster </a></li>" >> ${{ env.DEPLOY_PATH }}/index.html
          echo "</ul></body></html>" >> ${{ env.DEPLOY_PATH }}/index.html

      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ${{ env.DEPLOY_PATH }}/
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
